<!-- <main>
    <div class="py-6 mt-5">
        <div class="container">
            <div class="row pt-4">
                <div class="col-md-4">
                    <img src="assets/product/pro.png" width="100%" alt="product">
                </div>
                <div class="col-md-6 justify-content-center col-lg-4">
                    <div class="card">
                        <div class="card-header bg-transparent py-3">
                            <h6 class="m-0 mb-1 text-center">Order Details</h6>
                        </div>
                        <div class="card-body ">
                            <ul class="list-unstyled">
                                <li class="d-flex justify-content-between align-items-center mb-2">
                                    <h6 class="me-2 text-body">Product Name : </h6><span class="text-end">Samuel</span>
                                </li>
                                <li class="d-flex justify-content-between align-items-center mb-2">
                                    <h6 class="me-2 text-body">Product Quantity : </h6><span class="text-end">2</span>
                                </li>
                            </ul>
                            <div class="d-grid gap-2 mx-auto">
                                <a class="btn btn-primary" href="">Place to Order</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main> -->

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-10 col-lg-8 col-xl-6">
            <div class="card card-stepper" style="border-radius: 16px;">
                <div class="card-header p-4">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <p class="text-muted mb-2"> Order ID <span class="fw-bold text-body">PR-1222-5287-43</span></p>
                            <p class="text-muted mb-0"> Coustmer ID <span class="fw-bold text-body">ID-126848-4c45</span> </p>
                        </div>

                    </div>
                </div>
                <div class="card-body p-4">
                    <div class="d-flex flex-row mb-4 pb-2">
                        <div class="flex-fill">
                            <h5 class="bold">Samuel</h5>
                            <p class="text-muted"> Qt: 1 item</p>
                            <h4 class="mb-3"> Rs : 1500 </h4>
                            <p class="text-muted">Product Tracking Status on: <span class="text-body">11:30pm, Today</span></p>
                        </div>
                        <div>
                            <img class="align-self-center img-fluid" src="assets/product/pro1.webp" width="250">
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2 mb-4 mx-auto">
                    <a class="btn btn-primary" href="">Place to Order</a>
                </div>
            </div>
        </div>
    </div>